<a href="https://colab.research.google.com/github/Tkei-54/skills-introduction-to-github/blob/main/Keith_Experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 4/3/25
print("I like burgers")

I like burgers

In [ ]:
print("It's really good!")

It's really good!

In [ ]:
#These are strings
first_name = "Keith"
food = "burgers"
email = "keithtongi54@gmail.com"
print(first_name)
print (f"Hello {first_name}")
print(f"I like {food}")
print(f"My email is {email}")

Keith
Hello Keith
I like burgers
My email is keithtongi54@gmail.com

In [ ]:
# These are integers
age = 27
quantity = 3
number_of_children = 1
print (f"I am {age} years old")
print (f"I am buying {quantity} pairs of glasses")
print (f"She has {number_of_children} child")

I am 27 years old
I am buying 3 pairs of glasses
She has 1 child

In [ ]:
# These are floats
price = 120.25
gpa = 3.8
distance = 350.8
print (f"The price of the watermelon is KES {price}")
print (f"I can get the Schwarzman scholarship to Tsinghua despite a gpa of {gpa}")
print (f"Kisii is {distance} kilometres from Nairobi")

The price of the watermelon is KES 120.25
I can get the Schwarzman scholarship to Tsinghua despite a gpa of 3.8
Kisii is 350.8 kilometres from Nairobi

In [ ]:
# These are booleans
is_student = True
for_sale = True
is_hungry = True
print(f"Are you a student? {is_student}")
if for_sale:
    print("This item is for sale")
else:
    print("This item is not for sale")
print(f"Are you hungry? {is_hungry}")

Are you a student? True
This item is for sale
Are you hungry? True

In [ ]:
# Typecasting
name = "Keith Tongi"
age = 27
gpa = 3.2
is_student = True

gpa = int(gpa)
print(gpa)
age = float(age)
print(age)
is_student = str(is_student)
print(is_student)
name = bool(name)
print(name)

3
27.0
True
True

In [ ]:
#Input
name = input("What is your name? ")
print(f"Hello {name}")
age = int(input("How old are you? "))
print ("Happy birthday!")
print(f"You are {age} years old")
print(f"Next year, you will be {age + 1} years old")

What is your name? Keith
Hello Keith
How old are you? 27
Happy birthday!
You are 27 years old
Next year, you will be 28 years old

In [ ]:
#Area of a rectangle
length = float(input("What is the length of the rectangle? "))
width = float(input("What is the width of the rectangle? "))
area = length * width
print(f"The area of the rectangle is {area}")

What is the length of the rectangle? 6.7
What is the width of the rectangle? 7.9
The area of the rectangle is 52.93000000000001

In [ ]:
# Shopping cart program
item = input("What item would you like to buy? ")
price = float(input("What is the price of the item? "))
quantity = int(input("How many would you like to buy? "))
total = price * quantity
print(f"You have bought {quantity} x {item} for KES {total}")

What item would you like to buy? bouquet of flowers for Loise Lane
What is the price of the item? 1000
How many would you like to buy? 1
You have bought 1 x bouquet of flowers for Loise Lane for KES 1000.0

In [ ]:
#Madlibs Game
adjective1 = input("Enter an adjective: ")
noun1 = input("Enter a noun: ")
adjective2 = input("Enter another adjective: ")
print(f"On Saturday I went to an {adjective1} restaurant with {noun1}")
print(f"In the restaurant, the menu had {adjective2} prices")
print(f"I'm kinda glad {noun1} was feeling unwell because i thought the bill would be crazy")
print(f"I know i shouldn't be happy, but i was")

Enter an adjective: expensive
Enter a noun: Loise Lane
Enter another adjective: crazy
On Saturday I went to an expensive restaurant with Loise Lane
In the restaurant, the menu had crazy prices
I'm kinda glad Loise Lane was feeling unwell because i thought the bill would be crazy
I know i shouldn't be happy, but i was

In [ ]:
#basic arithmetic operators
friends = 10
friends += 1
print (friends)
friends -= 2
print (friends)
friends *= 3
print (friends)
friends /= 2
print (friends)
friends **= 2
print (friends)
friends //= 2
print (friends)
friends %= 2
print (friends)

11
9
27
13.5
182.25
91.0
1.0

In [ ]:
#built in mathematical functions
x = 3.14
y = 4
z = 5
print(round(x))
print(abs(x))
print(pow(y,z))
print(max(x,y,z))
print(min(x,y,z))

3
3.14
1024
5
3.14

In [ ]:
import math

In [ ]:
print (math.pi)
print(math.e)
x = 9
result = math.sqrt(x)
print (result)

3.141592653589793
2.718281828459045
3.0

In [ ]:
radius = float(input("What is the radius of the circle? "))
area = math.pi * (radius ** 2)
print(f"The area of the circle is {area}")
circumference = 2 * math.pi * radius
print(f"The circumference of the circle is {circumference}")

What is the radius of the circle? 14
The area of the circle is 615.7521601035994
The circumference of the circle is 87.96459430051421

In [ ]:
a = float(input("Enter side A"))
b = float(input("Enter side B"))
c = math.sqrt(a**2 + b**2)
print(f"The hypotenuse of the triangle is {c} cm")

Enter side A3
Enter side B4
The hypotenuse of the triangle is 5.0 cm

In [ ]:
# Control flows elif and if statements
age = float(input("How old are you? "))
if age >= 28:
    print("You are a millenial")
elif age >= 15:
    print("You are a Gen Z")
else:
    print("You are a child")

How old are you? 27
You are a Gen Z

In [ ]:
response = input("Would you like some nyama choma? (Y/N):")
if response == "Y":
    print("Have some nyama choma")
else:
    print("Cuddle with your man")

Would you like some nyama choma? (Y/N):N
Cuddle with your man

In [ ]:
for_sale = False
if for_sale:
  print ("This item is for sale")
else:
  print ("This item is not for sale")

This item is not for sale

In [ ]:
#python calculator
operator = input("Enter an operator (+, -, *, /): ")
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
  print(num1 / num2)
else:
  print("Invalid operator")

Enter an operator (+, -, *, /): **
Enter the first number: 5
Enter the second number: 4
Invalid operator

In [ ]:
#python weight converter
weight = float(input("Enter your weight: "))
unit = input("Enter the unit of measurement (L/K): ")
if unit == "L":
    print(f"Your weight in kilograms is {weight * 0.45}")
elif unit == "K":
    print(f"Your weight in pounds is {weight * 2.20}")
else:
  print ("Invalid unit of measurement")

Enter your weight: 68.5
Enter the unit of measurement (L/K): K
Your weight in pounds is 150.70000000000002

In [ ]:
#python temperature converter
unit = input("Enter the unit of measurement (C/F): ")
if unit == "C":
    temp = float(input("Enter the temperature in Celsius: "))
    print(f"The temperature in Fahrenheit is {temp * 9/5 + 32}")
elif unit == "F":
    temp = float(input("Enter the temperature in Fahrenheit: "))
    print(f"The temperature in Celsius is {(temp - 32) * 5/9}")
else:
  print ("Invalid unit of measurement")

Enter the unit of measurement (C/F): F
Enter the temperature in Fahrenheit: 98
The temperature in Celsius is 36.666666666666664

In [ ]:
#Logical Operators